body{
  background-color: #F1F1F1;
}
.nav-main{
  position: fixed;
  top:0;
  width: 100%;
  height: 60px;
  background-color: #FFF;
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
}

.btn-toggle-nav{
  width: 60px;
  height: 100%;
  background-color: #F98F39;
  background-image: url("img/menu.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  cursor:pointer;
}
.btn-toggle-nav:hover{
opacity: 0.5;
}

.nav-main ul{
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
}

.nav-main ul li{
  list-style: none;
  line-height: 60px;
}

.nav-main ul li a{
  display: block;
  height: 100%;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: #111;
  font-family: arial;
  font-size: 16px;
}
.nav-sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 50px;
  height: calc(100vh - 60px);
  padding: 0 5px;
  background-color: #1b1b1b;
  z-index: 1000;
}
